{% extends "block.html.twig" %}

{%
  set classes = [
    'site-branding',
  ]
%}

{% set attributes = attributes.addClass(classes) %}

{% block content %}
  {% if site_logo %}
    {% if is_front %}
      <h1 class="site-branding__logo">
        <a href="{{ path('<front>') }}" title="{{ 'Home'|t }}" rel="home" class="site-logo__link">
          <img src="{{ site_logo }}" alt="{{ 'Home'|t }}" />
        </a>
      </h1>
    {% else %}
      <h2 class="site-branding__logo">
        <a href="{{ path('<front>') }}" title="{{ 'Home'|t }}" rel="home" class="site-logo__link">
          <img src="{{ site_logo }}" alt="{{ 'Home'|t }}" />
        </a>
      </h2>
    {% endif %}
  {% endif %}
  {% if site_name %}
    <div class="site-branding__name">
      <a href="{{ path('<front>') }}" title="{{ 'Home'|t }}" rel="home" class="site-branding__link">{{ site_name }}</a>
    </div>
  {% endif %}
  {% if site_slogan %}
    <div class="site-branding__slogan">{{ site_slogan }}</div>
  {% endif %}
{% endblock %}
